<div>
  <form (ngSubmit)="buscarPokemon()">
    <div>
      <label>Inserte el nombre del Pokémon</label>
      <input
        type="text"
        [(ngModel)]="nombrePokemonInput"
        name="nombrePokemon"
        placeholder="Ej. Pikachu, Charmander, Bulbasaur"
        required
      />
    </div>
    <button type="submit" [disabled]="cargando()">Buscar</button>
  </form>
</div>

@if (mensajeError()) {
  <p class="error">{{ mensajeError() }}</p>
}

@if (pokemon(); as poke) {
  <div appResaltarTarjeta colorBorde="#0000FF" class="card-pokemon">
    <h3>{{ poke.name }} (#{{ poke.id }})</h3>
    <img [src]="poke.image" alt="{{ poke.name }}" />
    <p>
      Tipo:
      <span
        class="badge-tipo"
        [ngStyle]="{
          'background-color': poke.type === 'fire' ? '#FF0000' :
                             poke.type === 'water' ? '#0000FF' :
                             poke.type === 'grass' ? '#008000' :
                             '#757575'
        }"
      >
        {{ poke.type }}
      </span>
    </p>
    <p>Experiencia Base: <strong>{{ poke.baseExperience }}</strong></p>
    <button class="btn-guardar" (click)="guardarEnEquipo()">
      almacenar en inventario.
    </button>
  </div>
}

